.mdl-textfield__label:after{
    background-color: #c00 !important;
}

.mdl-textfield__label{
    color: #8e8c8c !important;
}

.main-content{
    margin: 20px;
    height: 300px;

}

.footer{
    height: 100px;
    background-color: #3a3738;
    bottom: 0;
    left: 0;
    width: 100%;
}

.single-radio{
    margin-right: 25px !important;
}

.paybar{
    margin-left: 20px;
    margin-top:30px;
    display: flex;
    width:80%;
    align-items: baseline;
    float: right;
}

.paybar > div{
    float: right;
}

.scrollcontainer{
    width: 51%;
    height: 50%;
    overflow-y: auto;
}