.mdl-textfield__label:after{
    background-color: #c00 !important;
}

.mdl-textfield__label{
    color: #8e8c8c !important;
}

.main-content{
    margin: 20px;
    height: 500px;
}

.footer{
    height: 200px;
    background-color: #3a3738;
}

.single-radio{
    margin-right: 25px !important;
}

.paybar{
    margin: 20px;
    display: flex;
}